# Fonts
level1_font_sm=font:assets/fonts/Roboto-Condensed-webfont.ttf:25
level1_font_md=font:assets/fonts/Roboto-Condensed-webfont.ttf:32
level1_font_lg=font:assets/fonts/Roboto-Condensed-webfont.ttf:42
level1_font_mg=font:assets/fonts/Roboto-Condensed-webfont.ttf:65
level1_font_countdown=font:assets/fonts/EricaOne-Regular.ttf:96

# BGM
level1_bgm=music:assets/musics/level1_random_silly_chip_song.ogg
level1_game_set_win=music:assets/musics/game_set_win.wav

# SFX
level1_paddle_hit=sound:assets/sounds/paddle_hit.wav
level1_select_item=sound:assets/sounds/select_item.wav
level1_wall_hit=sound:assets/sounds/wall_hit.wav
level1_when_scored=sound:assets/sounds/when_scored.wav
