winning_score=3

# Ball
ball_radius=10
ball_speed=450

# Player
player_width=10
player_height=100
player_move_speed=350

# Enemy
enemy_width=10
enemy_height=100
enemy_move_speed=350

# Arena court
# wall_thickness=10
